@media screen and (min-width: 327px) {
.header {
   text-align: center;
   }
.header-text {
   font-family: 'Raleway', sans-serif;
   color: rgb(62, 51, 114);
   font-size: 4vw;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 0;
   }

.centered {
   text-align:center;
   }

.hero {
   text-align: center;
   }

.featured-image {
   width: 100%;
   }
}

@media screen and (min-width: 334px) {
.header {
   text-align: center;
   }

.header-text {
   font-family: 'Raleway', sans-serif;
   color: rgb(62, 51, 114);
   font-size: 4vw;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 0;
   }

.featured-image {
   width: 100%;
   }
}


@media screen and (min-width: 415px) {
.featured-box {
   display: flex;
   justify-content:space-between;
   }

.featured-item {
   margin: 7px 7px 7px 0;
   }

.featured-item-header {
   font-size: 3vw;
   }

.featured-header-text {
   font-size: 4vw;
   }
}


@media screen and (min-width: 614px) {
.featured-box {
   display: flex;
   justify-content:space-between;
   } 

.featured-item-header {
   font-size: 2vw;
   }

.featured-header-text {
   font-size: 2.5vw;
   }

.header-text {
   text-align: right; 
   font-size: 3vw;
   }

.header-tag {
   text-align: right;
   }

.header-logo {
   float: left;
   }
}