.header {
   text-align: center;
   margin-bottom: 5px;
}

.header-text {
   font-family: 'Raleway', sans-serif;
   color: rgb(62, 51, 114);
   font-size: 4vw;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 0;
}

.header-tag {
   font-family: 'Raleway', sans-serif;
   color: rgb(62, 51, 114);
   text-align: center;
}

.header-logo {
   border-radius: 50%;
   margin-top: 10px;
}

.header-line {
	 height: 2px;
	 box-shadow: 0 7px 7px -7px #3c868b inset;
  }

.hero {
   text-align: center;
  }


.featured-header {
   margin-top: 5px;
}

.featured-header-text {
   font-family: 'Raleway', sans-serif;
   font-size: 6vw;
   color: rgb(62, 51, 114);
   vertical-align: middle;
   text-align: center;
}

.featured-item-header {
   font-size: 6vw;
   color: #66616d;
   font-family: 'Raleway', sans-serif;
}

.featured-item {
  margin-bottom: 5px;
}









